In [1]:
d = {'key1':'Value','key2':'123'}

In [2]:
d['key1']

'Value'

In [3]:
d['key2']

'123'

In [4]:
d

{'key1': 'Value', 'key2': '123'}

In [5]:
d['key3'] = [1,2,3]

In [6]:
d

{'key1': 'Value', 'key2': '123', 'key3': [1, 2, 3]}

In [7]:
d['key3'][0]

1

In [8]:
True

True

In [9]:
False

False

In [10]:
#tuple

In [11]:
t = (1,2,3,4,5)

In [12]:
t[0]

1

In [13]:
t[0] = 'test'

TypeError: 'tuple' object does not support item assignment

In [14]:
# Tuple cannot be updated or changed.

In [15]:
# List is changable

In [16]:
set1 = {1,2,3}

In [17]:
set1

{1, 2, 3}

In [18]:
set1 = {1,2,2,3,3,4,5}

In [19]:
set1

{1, 2, 3, 4, 5}

In [20]:
# Set will always keep the unique elements.

In [21]:
s.add(8)

NameError: name 's' is not defined

In [22]:
set1.add(8)

In [23]:
set1

{1, 2, 3, 4, 5, 8}

In [24]:
# let try to add 8 again in to the set

In [25]:
set1

{1, 2, 3, 4, 5, 8}

In [26]:
set1.add(8)

In [27]:
set1

{1, 2, 3, 4, 5, 8}

In [28]:
#nothing happen after the same element is added

In [29]:
1 > 3

False

In [30]:
1< 0

False

In [31]:
1>0

True

In [32]:
1 == 2

False

In [33]:
1 == 1

True

In [34]:
1 != 3

True

In [35]:
1!=1

False

In [36]:
1 > 3 and 2 < 3

False

In [37]:
1 == 1 and 2<3

True

In [38]:
if 1<2:
    print('correct!!')

correct!!

In [40]:
if True:
    print('Perform the action!!')

Perform the action!!

In [41]:
if 1 == 2:
    print('First')
else:
    print('Last')

Last

In [42]:
if 1 == 2:
    print('First')
elif 2 > 1:
    print('Second')
else:
    print('Last')

Second

In [43]:
a = [1,2,3,4,5]

In [45]:
for x in a:
    print(a[x-1])

1
2
3
4
5

In [46]:
x = 1

In [47]:
while x < 5:
    print('hello')
    x++

SyntaxError: invalid syntax (<ipython-input-47-7ee0f00f8f08>, line 3)

In [48]:
while x < 5:
    print('hello')
    x = x+1

hello
hello
hello
hello

In [49]:
while x < 5:
    print('hello')
    ++x

In [50]:
x = 1

In [1]:
while x < 5:
    print('hello')
    x += 1

NameError: name 'x' is not defined

In [2]:
x = 1
while x < 5:
    print('hello')
    x++

SyntaxError: invalid syntax (<ipython-input-2-605f7ee86910>, line 4)

In [3]:
x = 1

In [2]:
def myfunc(name):
    print(name)

In [3]:
myfunc("Tonk")

Tonk

In [1]:
def tsquare(int x):
    return x**2

SyntaxError: invalid syntax (<ipython-input-1-d4a6ef70fe8a>, line 1)

In [2]:
def tsquare(x):
    return x**2

In [3]:
xi = tsquare(5)

In [4]:
xi

25